.container-1 {
    border: 5px solid red;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.container-2 {
    text-align: center;
    border: 5px solid pink;
    margin: 10 auto;
    width: 75%;
}

.flex-box-container-1, .flex-box-container-2{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10 auto;
}

.flex-box-container-1 div {
    padding: 10px;
   /*border: 1px solid black;*/
    align-items: center;
}

.flex-box-container-2 img {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .7);
}

